{% extends 'base.html' %}

{% block title %}
Home page
{% endblock %}

{% block body %}
<h1>Home page</h1>
<div>
    <p>This is a home page.</p>
    <p>And this  is a report of Monaco 2018 Racing. (Why not?)</p>
    <p>I had 2 log files start.log and end.log that contain start and end data
        of the best lap for each racer of Formula 1 - Monaco 2018 Racing. Data
        contains only the first 20 minutes that refers to the first stage of the qualification.</p>
    <p>The third file abbreviations.txt contains abbreviation explanations.</p>
    <p>Was reading data from 2 files, order racers by time and was printing
        report of racers. Now you can see sorted list of racers, revers sorted list
        and info about a driver</p>
</div>
{% endblock %}
